body{
    background-color:antiquewhite;
    background-image: url('bgimg.jpg');
    background-size: cover;
}

.floater{
    background: #fff;
    font-size: 19px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    margin: 5% auto;
    border-radius: 10px;
    line-height: 3.5;
    background-color:  #005c99;
}

form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
 
  }
  
  .bookmarkInput {
    padding: 0.5em 1.25em;
    border-radius: 8px;
    width: 50%;
    margin: 10px;
    
  }

  .btn-primary {
    border-radius: 50%;
    padding: 0.5em 0.75em;
    border: none;

  }

  .link-list li {
    position: relative;
    width: 100%;
    margin: 2em 0;
    background-color: #0c4a6e;
    border-radius: 8px;
    box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12),
      0px 5px 5px -3px rgba(0, 0, 0, 0.2);
  
    transition: 350ms ease all;
  }
  
  .link {
    display: block;
    color: #f0f9ff;
    text-decoration: none;
    font-size: 1.75rem;
    padding: 1.75em 0;
    cursor: pointer;
  }