p{
    display: inline-block;
    text-align:center;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
}

div{
    background-color: black;
    margin:auto;
    width: 50%;
    padding: 10px;
    text-align:center;
    border-radius: 20px;
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

