body{
    background-color:antiquewhite;
    background-image: url(bgimg.jpg);
    background-size: cover;
}

.floater{
    background: #fff;
    font-size: 19px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30%;
    margin: 5% auto;
    border-radius: 10px;
    line-height: 3.5;
    
}

/*.form{
    background-color:darksalmon;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    text-align: center;
}

.displayInfo{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}*/



